@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-width: 1000px;

    --th-background: white;
    --th-background-shaded: #cbd5e1;
    --th-contrast: black;
    --th-contrast-shaded: #334155;

    --th-background-save: var(--th-background);
    --th-background-shaded-save: var(--th-background-shaded);
    --th-contrast-save: var(--th-contrast);
    --th-contrast-shaded-save: var(--th-contrast-shaded);
  }

  [data-theme="dark"] {
    --th-background: black;
    --th-background-shaded: #334155;
    --th-contrast: white;
    --th-contrast-shaded: #cbd5e1;
  }

  [data-theme="dark"] body {
    background-color: var(--th-background);
  }

  .inverted {
    --th-background: var(--th-contrast-save);
    --th-background-shaded: var(--th-contrast-shaded-save);
    --th-contrast: var(--th-background-save);
    --th-contrast-shaded: var(--th-background-shaded-save);
  }

  @keyframes slide {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translatex(32px);
    }
  }

  .dotted-background {
    background: radial-gradient(
      var(--th-background-shaded) 10%,
      transparent 10%
    );

    background-size: 32px 32px;

    /* animation: slide linear 1s infinite; */
  }

  /* TODO: prefered reduced motion */
}
